{% extends "users/female_base.html" %}
{% load static %}
{% block content %}
    <h1 class="mb-5">Cap Details</h1>
    <a href="{% url 'product-face_detect3' product.id %}" class="btn btn-primary">Fit</a>
    <a href="{% url 'product-prints' product.id %}" class="btn btn-success">Proceed to Checkout</a>
        <div class="card-group">
            <div class="row">
               <div class="col-md-6">
                    <h4>Product Name: {{ product.product_name }}</h4>
                    <h4>Price: {{ product.price }}</h4>
                   <img class="img-fluid" src="{{ product.image.url }}" alt="wala">
               </div>
               <div class="col-md-6">
                   <h4>Description: {{ product.description }}</h4>
                   <h4>Brand: {{ product.brand }}</h4>
                   <h4>Available Stock: {{ product.stock }}</h4>
               </div>
            </div>
           
        </div>
    </div>
</div>
{% endblock content %}